# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Using patterns for logs and temp files
*.log
tmp/
*.tmp

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# PyInstaller
#  Often there will be a build/ or dist/ directory
#  containing the result of a PyInstaller bundle.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Local configuration files
*.env
.env
.env.local

# vscode ignores
.vscode/

# MacOS specific ignores
.DS_Store

# Other IDE-specific files
.idea/
*.sublime-workspace